body{
    margin: 0;
}
.header{
    background-color: #ab88ff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin: 30px;
}
.header__menu ul{
    /* display: none; */
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0p 0p 0p -14px;
}
.header__menu--profile{
    margin-right: 8px;
    width: 40px;
}