body{
    margin: 0;
    background-color: #8f57fd;
}
.header{
    align-items: center;
    background-color: #8f57fd;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
}
.header img{
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
}
.header__menu{
    margin-right: 30px;
}
.header__menu ul{
    display: none;
    list-style: none;
    margin: 0p 0p 0p -14px;
    padding: 0;
    position: absolute;
    text-align: right;
    width: 100px;
}
.header__menu:hover ul, ul:hover{
    display:block;   
}
.header__menu li{
    margin: 10px 0px;
}
.header__menu li a {
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;
}
.header__menu--profile{
    align-items: center;
    display: flex;
    margin-right: 8px;
}
.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}
.header__menu--profile p{
    color: white;
    margin: 0;
}
.main{
    justify-content: center;
    height: 300px;
}
.main__tittle{
    color: white;
    font-size: 30px;
}
.input{
    background-color: rgb(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    height: 50px;
    outline: none;
    padding: 0 20px;
    width: 70%;
}
.input:hover{
    outline: none;
}
::placeholder{
    color: white;
}